@import "tailwindcss";

 
 
body {
  background: #181A24;
  color: #e6eaf3;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.buttonbg2{
  @apply bg-gradient-to-t text-white from-[#7595f9] font-medium to-[#5154f2];
  box-shadow: inset 0px 6px 20px 2px #00000030 , 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
}
.buttongreen{
  @apply bg-gradient-to-br text-white from-[#2db02a] font-medium to-[#004c12];
}
.buttonred{
  @apply bg-gradient-to-b shadow-xl text-white from-[#de2626] font-medium to-[#840404];
}
.buttonpink{
  @apply bg-gradient-to-b text-white from-[#fc3dcfba] font-medium to-[#ff71d73d];
}
 .pulseShimmer{
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px) saturate(180%);
  animation:   pulseShimmer 10s infinite linear; ;
 }
  @keyframes pulseShimmer {
    0% {
      background-position: -1000px;
    }
    100% {
      background-position: 1000px;
    } }

    .scrollbar::-webkit-scrollbar {
         display: none;
       }

       
.card{
  background: #232439;;
}
input{
  @apply border-none outline-none
}
.bordercolor{
  @apply border border-[#d3d3d346];
}

.boxanimation {
  animation: boxanimation 0.2s ease-in-out ;
}
.buttonbg{
  color: black;
  background-color: #FFF83F;
}
@keyframes boxanimation {
0% {
    transform: translateY(-10px); 
    scale: 0.9;
  }
  100% {
    transform: translateY(0); 
    scale: 1;
  }
}

.popupOpen{
  animation: popupOpen 0.8s ease-in-out ;

}

@keyframes popupOpen {
  0% {
    transform: translateY(-50px);
    /* opacity: 0; */
    transform: translate3d(0, -50px, 0);
    scale: 0.9;
  }
  50% {
      transform: translateY(20px);
      /* opacity: 0.5; */
      transform: translate3d(0, 20px, 0);
      scale: 1.05;
    }
  100% {
    transform: translateY(0);
    /* opacity: 1; */
    transform: translate3d(0, 0, 0);
    scale: 1;
  }
}

.assignpopupOpen{
  animation: assignpopupOpen 0.6s ease-in-out ;
}

@keyframes assignpopupOpen {
  0% {
    transform: translateY(100px);
  }
  50%{
  transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.loading-animation {
  animation: fadeSlideDown 0.3s ease-out;
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}